@charset "UTF-8";
@font-face { font-family: 'LCDDot TR'; src: url("../../public/assets/fonts/LCDDot-TR.woff?#iefix")}
@import url('https://webfontworld.github.io/jeju/JejuMyeongjo.css');

/* 300 400 700 */
html, body { font-family: 'JejuMyeongjo', sans-serif; font-weight: normal; width: 100%; height: 100%; overflow-x: hidden; margin: 0 auto; background: #eee; transition: all 0.3s ease-in-out; }

h1,h2,h3,h4,h5,h6 { 
    position: relative; margin: 0; color: #000; transition: all 0.2s linear; 
    font-family: 'JejuMyeongjo', sans-serif; font-weight: normal; 
    z-index: 999;
}
h1 { 
    color: #fff;
    font-family: 'LCDDot TR'; font-weight: normal; font-size: 48px; text-transform: uppercase; 
    text-shadow: 0px 0px 5px #393fff, 
    0px 0px 10px #5a5dc6, 
    0px 0px 10px #5a5dc6,
    0px 0px 15px #5a5dc6; 
}
/* 전광판 효과 */

h2 { color: #fff; position: absolute; font-family: 'Roboto'; font-weight: 500; font-size: 32px; text-transform: uppercase; margin-top: 4%; }

/* 본문 제목 */
h3,h4 { margin: 5% 0; font-weight: 800; }
h3 { font-size: 36px; line-height: 36px; text-align: center; }
/* 본문 부제목 */
h4 { font-size: 24px; line-height: 36px; text-align: right; }
/* 본문 콘텐츠 */
h5 { font-size: 18px; line-height: 32px; }


header { 
    position: fixed; top: 0; left: 50%; transform: translateX(-50%);
    max-width: 900px; 
    display: inline-flex; justify-content: center; align-items: center; 
    z-index: 999; 
}
header img { position: relative; width: 100%; }
header .textArea { position: absolute; display: inline-flex; justify-content: center; }
header .textArea h1 { margin: -4px 30px 0; }

header .textArea .selected,
h1:hover { color: #9f9ce7; 
    text-shadow: 0px 0px 5px #0d15ff, 
    0px 0px 10px #484eea, 
    0px 0px 10px #484eea,
    0px 0px 15px #484eea; 
}

table {
    border-spacing: 0px;
    border-style: none;
    padding: 0px;
}
td {
    border-spacing: 0px;
    border-style: none;
    padding: 0px;
}
a { text-decoration: none; }

.commonDotted { width: 70vw; height: 90%; position: absolute; z-index: 1; left: 50%; top: 50px; transform: translate(-50%, 0); background: transparent; border: 2px dotted #eee; pointer-events: none; }

.commonBg {
    position: relative; 
    width: 100vw; height: 100vh;
    background: transparent;
    /* background: rgb(174,173,213);
    background: -moz-linear-gradient(121deg, rgba(174,173,213,1) 0%, rgba(169,159,218,1) 34%, rgba(157,130,229,1) 50%, rgba(137,85,237,1) 77%, rgba(88,46,165,1) 100%);
    background: -webkit-linear-gradient(121deg, rgba(174,173,213,1) 0%, rgba(169,159,218,1) 34%, rgba(157,130,229,1) 50%, rgba(137,85,237,1) 77%, rgba(88,46,165,1) 100%);
    background: linear-gradient(121deg, rgba(174,173,213,1) 0%, rgba(169,159,218,1) 34%, rgba(157,130,229,1) 50%, rgba(137,85,237,1) 77%, rgba(88,46,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aeadd5",endColorstr="#582ea5",GradientType=1); */
    background-size: cover;
    background-repeat: no-repeat;
}

/* %%%%lineup 세로 정렬 */
.h2Area { position: absolute; width: 100%; /*height: 100%;*/ }
.h2Area h2 { position: relative; margin-top: 150px; text-align: center; }

.animationOpacity {
    -webkit-animation: opacityAnimation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.25s;
    animation: opacityAnimation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.25s; 
}
.animationOpacityIndex {
    -webkit-animation: opacityAnimation 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.15s;
    animation: opacityAnimation 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.15s;
}

@keyframes opacityAnimation {
    0%   { opacity: 0; }
    100%  { opacity: 1; }
}

.footerArea { 
    width: fit-content; height: fit-content; 
    display: inline-flex; justify-content: center;
    position: absolute; margin-bottom: 30px; bottom: 0; left: 50%; transform: translateX(-50%);
}